spring:
  application:
    name: order-service

  profiles:
    active: ${SPRING_PROFILES_ACTIVE:}

  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb+srv://user:password@cluster.mongodb.net/order_db?retryWrites=true&w=majority}
      auto-index-creation: true

server:
  port: 8082
  servlet:
    context-path: /order-service
  error:
    include-message: always
    include-binding-errors: always

customer-service:
  url: ${CUSTOMER_SERVICE_URL:http://localhost:8081/customer-service}

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic

resilience4j:
  circuitbreaker:
    instances:
      customerService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
        recordExceptions:
          - org.springframework.web.client.HttpServerErrorException
          - java.io.IOException
          - feign.FeignException

  retry:
    instances:
      customerService:
        maxAttempts: 3
        waitDuration: 1s
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,circuitbreakers
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true

logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
  level:
    root: INFO
    com.liverpool.order: DEBUG
